
.root {
    -fx-background-color: white;
}
.headertext {
    -fx-background-color: black;
    -fx-fill: lightgrey;
    -fx-font-size: 30px;

}
.unitext {
    -fx-text-fill: #c3c3c3;
    -fx-font-size: 20;
}
.hbox-header {
    -fx-background-color: black;
    -fx-text-fill: #cfcfcf;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 10;
    -fx-border-color: #0078d7;
    -fx-alignment: center;
}
.color {
    -fx-border-color: #0078d7;
}
.input-login {
    -fx-pref-height: 30;
    -fx-min-height: 30;
}
.input-login-add {
    -fx-pref-height: 30;
    -fx-min-height: 30;
    -fx-min-width: 250;
}
.login-btn {
    -fx-pref-height: 30;
    -fx-min-height: 30;
    -fx-border-radius: 2;
    -fx-text-fill: white;
    -fx-background-color: #0078d7;
    -fx-fit-to-width: true;
}
.dashboard-vbox {
    -fx-background-color: black;
}
.welcome-text {
    -fx-font-weight: BOLD;
    -fx-font-size: 30px;
}
.nav-btn {
    -fx-text-fill: #c3c3c3;
    -fx-font-size: 20px;
    -fx-background-color: black;
    -fx-border-color: black;
}
.nav-btn:hover {
    -fx-background-color: rgba(109, 109, 109, 0.23);
    -fx-border-color: rgba(255, 255, 255, 0.26);
}
.nav-btn:pressed {
    -fx-border-color: #0078d7;
}